
    <div class="listingTop gradAll">
      <div class="numberRight"> <span>1</span> <span>#7508</span> </div>
      <h3>مصنف : <a href="https://kitabosunnat.com/musannifeen/dr-khalid-alvi">ڈاکٹر خالد علوی</a></h3>
      <div class="viewsLeft"> مشاہدات : 106</div>
    </div>
    <div class="listingMain">
      <h4><a href="https://kitabosunnat.com/kutub-library/Islam-Aur-Aqliyatain">اسلام اور اقلیتیں</a></h4>
                  <span class="listDate">(ہفتہ  25 جنوری 2025ء)</span> <span class="listPublisher">ناشر : <a href="https://kitabosunnat.com/nashreen/dawa-academy-bain-al-aqwami-university-islamabad">دعوۃ اکیڈمی بین الاقوامی یونیورسٹی، اسلام آباد</a></span>
      <div class="listingInner">
        <div class="listingImgCont"> <a href="https://kitabosunnat.com/kutub-library/Islam-Aur-Aqliyatain" class="listingImg"> <span class="gridNumb gradAll">#7508</span> <img src="https://kitabosunnat.com/book_images///images/books/13496/1737009173_thumb.jpg" alt="Book" onerror="this.src=`https://kitabosunnat.com/book_images/noimage.png`;"> </a>
          <span style="margin-right: 40px;">صفحات: 83</span>
        </div>
        <div class="listCont" style="font-weight: normal;">

          <p style="text-align: justify;">اسلام انسانی مساوات، اخوت اور ہمدردی کا مذہب ہے۔ اور اسلام کے اصولوں نے ہر مسلمان کو یہ سکھایا ہے کہ وہ بلا لحاظ رنگ و نسل اپنے پڑوسیوں اور اقلیتوں کی حفاظت کرے اﷲ تعالیٰ نے قرآن مجید میں مسلمانوں کو غیر مذاہب کے لوگوں کے لیے رواداری کا سلوک کرنے کی تلقین کی ہے بلکہ انہیں یہ بھی حکم دیا ہے کہ ان کی حفاظت میں غیر مسلموں کی جو عبادت گاہیں ہیں ان کا تحفظ ان کا فرض ہے۔ غیر مسلموں کے لیے ہمارے دین اسلام میں کتنی رواداری اور حسن سلوک کی تعلیم ہے، اس بات کا اندازہ کرنا ہو تو نبی کریم ﷺ کی سیرت طیبہ پر ایک نظر ڈالیں۔ آپﷺ نے غیر مسلموں کے ساتھ جو احسان و ہمدردی اور خوش اخلاقی کے معاملات کیے، ان کی دنیا جہان میں نظیر ملنا مشکل ہے۔ زیر نظر کتاب ’’<strong>اسلام اور اقلیتیں</strong>‘‘ ڈاکٹر خالد علوی صاحب کی کاوش ہے انہوں نے اس مختصر کتاب میں اس بات کو واضح کیا ہے کہ اسلامی ریاست غیر مسلموں کے حقوق کا نہ صرف یہ کہ تحفظ کرتی ہے بلکہ عدل و احسان کے عمدہ معیارات کو بھی قائم رکھتی ہے۔(م۔ا)</p>
        </div>
        <div class="listMeta"> 
          <a href="https://kitabosunnat.com/kutub-library/Islam-Aur-Aqliyatain">مزید مطالعہ۔۔۔</a>
          <div class="listCat"> 
                              <a href="https://kitabosunnat.com/kutub-library/kutub-library/haqooq-w-faraiz/haqooq-ghair-muslims" class="gradAll">حقوق غیر مسلم
            </a>
             
          </div>
        </div>
      </div>
    </div>





    <div
  class="card text-center mx-auto mt-5"
  style="
    width: 300px;
    height: 400px;
    max-width: 500px;
    direction: rtl;
    font-family: 'Jameel Noori Nastaleeq';
  "
>
  <div class="card-header pr-0">
    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="book-tab"
          data-bs-toggle="tab"
          data-bs-target="#book"
          type="button"
          role="tab"
          aria-controls="book"
          aria-selected="true"
        >
          ٹائٹل
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="details-tab"
          data-bs-toggle="tab"
          data-bs-target="#details"
          type="button"
          role="tab"
          aria-controls="details"
          aria-selected="false"
        >
          Details
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="description-tab"
          data-bs-toggle="tab"
          data-bs-target="#description"
          type="button"
          role="tab"
          aria-controls="description"
          aria-selected="false"
        >
          Description
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      <!-- Book Tab Content -->
      <div
        class="tab-pane fade show active"
        id="book"
        role="tabpanel"
        aria-labelledby="book-tab"
        style="display: flex; direction: rtl; align-items: flex-start"
      >
        <img
          src="https://www.writersandartists.co.uk/sites/default/files/advice/2022-05/article/81wWpthwSsL_1.jpg"
          class="card-img-top"
          alt="Book Title Image"
          style="width: 200px; height: 300px; object-fit: cover"
        />
        <h5 class="card-title">Book Your Spot</h5>
        <p class="card-text">Fill out the form to book your reservation.</p>
        <button class="btn btn-primary">Book Now</button>
      </div>
      <!-- Details Tab Content -->
      <div
        class="tab-pane fade"
        id="details"
        role="tabpanel"
        aria-labelledby="details-tab"
      >
        <h5 class="card-title">Event Details</h5>
        <p class="card-text">
          Here are the details of the event you’re interested in. This is some
          longer content to test scrolling.
        </p>
      </div>
      <!-- Description Tab Content -->
      <div
        class="tab-pane fade"
        id="description"
        role="tabpanel"
        aria-labelledby="description-tab"
      >
        <h5 class="card-title">Description</h5>
        <p class="card-text">
          Learn more about the event and what it entails in this description
          section. It has more content to ensure the card stays fixed.
        </p>
      </div>
    </div>
  </div>
</div>



<div class="container">
    <h1 class="my-4">Digital Library</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img
            src="https://www.writersandartists.co.uk/sites/default/files/advice/2022-05/article/81wWpthwSsL_1.jpg"
            class="card-img-top"
            alt="Book Title Image"
          />
          <div class="card-body">
            <h5 class="card-title">Get Book Title</h5>
            <p class="card-text"><strong>Author:</strong> Author Name</p>
            <p class="card-text"><strong>Translator:</strong> Translator Name</p>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
              vitae incidunt officia officiis voluptas...
            </p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary">Read</button>
            <button class="btn btn-primary">Download Pdf</button>
            <button class="btn btn-primary">Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  